---
global:
  scrape_interval: 5s
  evaluation_interval: 5s

alerting:

rule_files:

scrape_configs:
 - job_name: prometheus
   static_configs:
    - targets:
       - prometheus:9090
  - job_name: http_server
    static_configs:
      - targets: ["localhost:8080"]
